<header class="masthead">

  <nav class="language-nav">
    <ul>
      <a href="#">css</a>
      <a href="#">html</a>
      <a href="#">javascript</a>
      <a href="#">ruby</a>
    </ul>
  </nav>

  <img class="logo" src="assets/AA_Times_Logo" alt="Logo">

  <ul class="masthead-links">
    <li>
      <p>Tuesday, May 2nd, 2017</p>
    </li>
    <li>
      <i class="fa fa-newspaper-o"></i>
      <a href="#">Today's Paper</a>
    </li>
    <li>
      <i class="fa fa-video-camera"></i>
      <a href="#">Video</a>
    </li>
    <li>
      <button type="button" name="button">75&deg;F</button>
    </li>
    <li>
      <button type="button" name="button">AAO <strong>+100%</strong></button>
    </li>
  </ul>


</header>
